@charset "utf-8";
/* CSS Document */

#menu {
	height:40px;
	width:960px;
	margin: 0 auto;
	line-height: 40px;

	/*background-color:#8e8a8a;*/
	border-bottom: 1px #ccc dashed;
}
#menu li {
	float:left; 
	
	padding-right:20px;
	font-size:1.2em;

	
}
#menu li a:link{
display: inline;
display: inline-block;
color:#228391;
text-decoration:none;

}
#menu li a:visited{
color:#228391;text-decoration:none;
}
#menu li a:hover{
color:#000;text-decoration:none;
}