<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SortDao</servlet-name>
  <servlet-class>com.xwfb.servlet.SortDao</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SortServlet</servlet-name>
  <servlet-class>com.xwfb.servlet.SortServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>NewsServlet</servlet-name>
  <servlet-class>com.xwfb.servlet.NewsServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UserServlet</servlet-name>
  <servlet-class>com.xwfb.servlet.UserServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>SortDao</servlet-name>
  <url-pattern>/servlet/SortDao</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SortServlet</servlet-name>
  <url-pattern>/SortServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>NewsServlet</servlet-name>
  <url-pattern>/NewsServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UserServlet</servlet-name>
  <url-pattern>/UserServlet</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
