table{
margin-top: 20px;
width: 960px;
margin-left:auto;
margin-right: auto;
font-size:1.2em;
text-align:center;
}
table thead{
	background-color:#eee;
	color:#000;
	border: 1px #ccc solid; 
	font-weight:bold;
	
}
tr,td,th{
	border:1px solid #ccc;
	height: 20px;
	text-align: center;
	
	padding:5px;
	}
	th{
	background-color: #eee;
	font-weight: bold;
text-align: center;
	}
	tr:hover{
	background-color: #fafafa;
	}
td input{text-align: center;}